{% extends 'layout.html' %}

{% block container%}
    <div class="starter-template">
        <h1>User registration for Wikimedia</h1>

        <p class="lead">This is entry page.<br> That's all you get for now.</p>
        <!--p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p-->
    </div>
{% endblock %}