{% extends 'layout.html' %}

{% macro render_field(field) %}
    {% if field.errors %}
        <div class="form-group has-error" id={{ field.id }}>
    {% else %}
        <div class="form-group">
    {% endif %}


{{ field.label(class="control-label", for=field.id) }}
{{ field(class="form-control", id=field.id, **kwargs)|safe }}
{% if field.errors %}
    <div class=errors>
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endmacro %}

{% block head_tail %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        /*
    Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
    www.toddmotto.com
    */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }

        body {
            font: 400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
            /*color:#444;*/
            background: gray;
            /*background-image:linear-gradient(left , #761542 0%, rgba(0, 0, 0, 0.76) 52%, #761542 100%);*/
            /*background-image:-moz-linear-gradient(left , #761542 0%, rgba(0, 0, 0, 0.76) 52%, #761542 100%);*/
            /*background-image:-webkit-linear-gradient(left , #761542 0%, rgba(0, 0, 0, 0.76) 52%, #761542 100%);*/
        }

        #modeling_interests {
            min-height: 140px;
        }

        #working_groups {
            min-height: 228px;
        }

        #stakeholders {

            min-height: 120px;
        }

        .stakeholders {
            overflow-x: scroll;
        }

        #affiliation_type {
            height: auto;
        }

        .errors {
            color: red;
        }

        ul {
            list-style: none;
        }

        .wrapper {
            max-width: 600px;
            width: 95%;
            margin: 0 auto;
            position: relative;
        }

        .alert {
            text-shadow: 0 1px 0 #FFF;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            color: green;
            background: rgba(214, 237, 207, 1);
            padding: 25px;
            margin-bottom: 20px;
        }

        .danger {
            text-shadow: 0 1px 0 #FFF;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            color: red;
            background: rgba(214, 237, 207, 1);
            padding: 25px;
            margin-bottom: 20px;
        }

        #contact-form input[type="text"],
        #contact-form input[type="email"],
        #contact-form input[type="tel"],
        #contact-form input[type="url"],
        #contact-form textarea,
        #contact-form button[type="submit"] {
            font: 400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        #contact-form {
            text-shadow: 0 1px 0 #FFF;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            background: #F9F9F9;
            padding: 25px;
        }

        #contact-form h3 {
            color: rgba(0, 0, 0, 0.76);
            display: block;
            font-size: 28px;
        }

        #contact-form h4 {
            margin: 5px 0 15px;
            display: block;
            font-size: 13px;
        }

        #contact-form label span {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.76);
            display: block;
            margin: 5px 0;
            font-weight: 900;
        }

        #contact-form input[type="text"],
        #contact-form input[type="email"],
        #contact-form input[type="tel"],
        #contact-form input[type="url"],
        #contact-form textarea {
            width: 100%;
            box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
            -webkit-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
            -moz-box-shadow: inset 0 1px 2px #DDD, 0 1px 0 #FFF;
            border: 1px solid #CCC;
            background: #FFF;
            margin: 0 0 5px;
            padding: 10px;
            border-radius: 5px;
        }

        #contact-form input[type="text"]:hover,
        #contact-form input[type="email"]:hover,
        #contact-form input[type="tel"]:hover,
        #contact-form input[type="url"]:hover,
        #contact-form textarea:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid #AAA;
        }

        #contact-form textarea {
            height: 100px;
            max-width: 100%;
        }

        #contact-form button[type="submit"] {
            cursor: pointer;
            width: 100%;
            border: none;
            /*background:rgba(0, 0, 0, 0.76);*/
            /*background-image:linear-gradient(bottom, #8C1C50 0%, rgba(0, 0, 0, 0.76) 52%);*/
            /*background-image:-moz-linear-gradient(bottom, #8C1C50 0%, rgba(0, 0, 0, 0.76) 52%);*/
            /*background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, rgba(0, 0, 0, 0.76) 52%);*/
            color: #FFF;
            margin: 0 0 5px;
            padding: 10px;
            border-radius: 5px;

        }

        #contact-form button[type="submit"]:hover {
            background-image: linear-gradient(bottom, #9C215A 0%, #A82767 52%);
            background-image: -moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
            background-image: -webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
            background: rgba(0, 110, 207, 1);
        }

        #contact-form button[type="submit"]:active {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        }

        #contact-form input:focus,
        #contact-form textarea:focus {
            outline: 0;
            border: 1px solid #999;
        }

        ::-webkit-input-placeholder {
            color: #888;
        }

        :-moz-placeholder {
            color: #888;
        }

        ::-moz-placeholder {
            color: #888;
        }

        :-ms-input-placeholder {
            color: #888;
        }

        /*
        Header Demo Styles
        */

        #header {
            overflow: auto;
            background: #33363C;
            border-top: 5px solid #2F3135;
            border-bottom: 2px solid #04A4CC;
        }

        #logo {
            float: left;
            margin: 10px 0 5px 40px;
        }

        #logo img {
            width: 80px;
            height: 36px;
        }

        #view-tut {
            float: right;
            font-size: 13px;
            font-weight: 900;
            margin: 10px 40px 5px 0;
        }

        #view-tut ul {
            margin: 0;
        }

        #view-tut ul li {
            display: inline-block;
            *display: inline;
            zoom: 1;
            margin: 0 5px 0 0;
        }

        #view-tut ul li a {
            display: block;
            padding: 5px 10px;
            background: #04A4CC;
            color: #FFF;
            border-radius: 20px;
            text-decoration: none;
        }

        #view-tut ul li a:hover {
            background: #0097CD;
        }

        .flashes {
            width: 100%;
            text-align: center;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="main" style="padding:50px 0 0 0;">
            {% from "_formhelpers.html" import render_messages with context %}
            {{ render_messages() }}
{% block form_line %}
            <form id="contact-form" action="{{url_for('join')}}" method="post">
{% endblock %}
                <div>
                    <a href="http://www.emmc.info/" target="_self"><img width="80" height="80"
                                                                        src={{ url_for('static', filename='logo.png') }}
                                                                                style="display:block;"/></a>
{% block form_title %}
                    <h1>Join or contact an EMMC working group</h1>
                    <h4>Please fill all fields below and you will be contacted soon:</h4>
{% endblock %}
                    <mark><strong>The EMMC privacy policy:</strong></mark>
                    <br>
                    Before filling out and submitting this form please carefully read this privacy policy:<br>
                    <em> All data collected by the EMMC will not be shared with any third party. User data collected in
                        this
                        form shall be used for the purposes of internal communications and networking actions of the
                        EMMC.</em>
                </div>
                <div>
                    <br>
                </div>
                <div>
                    {{ form.csrf_token }}
                    {{ render_field(form.first_name,
                placeholder="Please enter your first name",
                required="required") }}
                    {{ render_field(form.last_name,
                placeholder="Please enter your last name",
                 required="required") }}
                    {{ render_field(form.affiliation,
                placeholder="Please enter your affiliation", required="required") }}
                    {{ render_field(form.affiliation_country, required="required") }}
                    {{ render_field(form.nationality, required="required") }}
                    {{ render_field(form.email,
                placeholder="Please enter your email address", required="required") }}
                    {{ render_field(form.phone_number, placeholder="Please enter your number") }}
                    {{ render_field(form.website, placeholder="Begins with http:// or https://") }}
                    {{ render_field(form.modelling_interests) }}
                    {{ render_field(form.affiliation_type, required='required') }}
                    {{ render_field(form.stakeholders) }}
<p><mark>Joining any of the Electronic, Atomistic, Mesoscopic or Coupling and linking implies also
joining the Descrete working group.</mark></p>
                    {{ render_field(form.working_groups) }}
                    {{ render_field(form.short_bio, required="required") }}
                    {{ render_field(form.message, required="required") }}
                    {{ render_field(form.recaptcha, required="required") }}
                    <div>
                        <strong>
                            <mark>By submitting this form you acknowledge that you accept the EMMC privacy policy and
                                willing to share data entered here with the EMMC. Please note, all the fields except the
                                message will be part of your profile on wiki-emmc.org and can be viewed by all memebers.
                            </mark>
                        </strong>
                        <br/>

                        {{ form.toc_accepted(required="required") }}{{ form.toc_accepted.label }}
{% block submit %}
                        <button name="submit" type="submit" id="contact-submit" data-text="...Sending">Agree and
                            Submit
                        </button>
{% endblock %}
                    </div>
            </form>
        </div>
    </div>

    <script>
        (function () {

            // Create input element for testing
            var inputs = document.createElement('input');

            // Create the supports object
            var supports = {};

            supports.autofocus = 'autofocus' in inputs;
            supports.required = 'required' in inputs;
            supports.placeholder = 'placeholder' in inputs;

            // Fallback for autofocus attribute
            if (!supports.autofocus) {

            }

            // Fallback for required attribute
            if (!supports.required) {

            }

            // Fallback for placeholder attribute
            if (!supports.placeholder) {

            }

            // Change text inside send button on submit
            var send = document.getElementById('contact-submit');
            if (send) {
                var dataText = send.getAttribute('data-text');
                send.onclick = function () {
                    send.innerHTML = dataText;
                }
            }

        })();
    </script>
{% endblock body %}
