<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block head_meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}Wikimedia User Management{% endblock %}</title>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!--link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-smoothness-1.10.3.css') }}"/-->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv-3.7.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond-1.4.2.min.js') }}"></script>
        <![endif]-->
        {% block head_tail %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">WIKIX</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if not active_page %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
                    {% block navbar_links %}
                        {% if navitems %}
                            {% for name, url in navitems.iteritems() %}
                                <li {% if active_page == name %}class="active"{% endif %}><a
                                        href="{{ url }}">{{ name|capitalize }}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    <!--li><a href="#about">About</a></li-->
                    <!--li><a href="#contact">Contact</a></li-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not session['logged_in'] %}
                        <li><a href="{{ url_for('login') }}">log in</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">{{ session['username'] }} | log out</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div class="container starter-template">
        {% block flash_messages %}
            {% from "_formhelpers.html" import render_messages with context %}
            {{ render_messages() }}
        {% endblock %}

        {% block container %}
        {% endblock %}
    </div>
{% endblock %}

{% block body_tail %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--script src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>    
{% endblock %}
</body>
</html>
