{% extends 'layout.html' %}
{% block container %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sign in using your MediaWiki account to continue</h3>
        </div>
        <div class="panel-body">
            <form class="navbar-form navbar-left" role="form" action="{{ url_for('login') }}" method="post">
                {{ form.csrf_token }}
                {{ form.username(type="text", class="form-control", placeholder="Username", required="required",
                autofocus="on", autocomplete="on")}}
                {{ form.password(type="password", class="form-control", placeholder="Password", required="required")}}
                <input type=hidden value="{{ next or '' }}" name=next>
                <button class="btn btn-primary btn-block form-control" type="submit">Sign in</button>
            </form>
        </div>
        <div class="panel-footer">
            Current MediaWiki is located at
            <a class="disabled" href="http://{{ config.MEDIA_WIKI + config.MEDIA_WIKI_PATH }}">
                {{ config.MEDIA_WIKI + config.MEDIA_WIKI_PATH }}.</a>
        </div>
    </div>
{% endblock %}
