{% extends 'layout.html' %}
{% from "_paginationhelper.html" import render_pagination %}

{% block head_tail %}
    {{ super() }}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block container %}
    {{ super() }}
    <div class="panel panel-default row">
        <!-- Default panel contents -->
        <div class="panel-heading table-responsive">List of join requests</div>
        <!-- Table -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for request in requests %}
                <tr {% if request.is_update %} class="warning"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>{{ request.id}}</td>
                    <td>{{ request.first_name }}&nbsp;{{ request.last_name }}</td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.nationality }}</td>
                    {% if flase %}
                    <td><a href="{{ url_for('.details', request_id=request.id) }}"></a>{{ request.id }}</td>
                    {% else %}
                        <td><a href="{{ url_for('.details', request_id=request.id) }}">
                        {% if request.approved %}
                            <span class="label label-success">Approved</span>
                        {% elif not request.email_confirmed %}
                            <span class="label label-warning">Pending Email Confirmation</span>
                        {% else %}
                            <span class="label label-warning">Pending Approval</span>
                        {% endif %}
                        </a></td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <p>
            {% if pagination %}
                {{ render_pagination(pagination) }}</p>
            {% endif %}
    </div>

{% endblock %}
{% block body_tail %}
    {{ super() }}
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script>$('tbody.rowlink').rowlink();</script>
{% endblock %}