{% extends 'layout.html' %}

{% block container %}
    <div class="page-header">
    {% if request.is_update %}
        <h1>Update Request</h1>
    {% else %}
        <h1>Join Request</h1>
    {% endif %}
        {% if request.approved %}
            <span class="label label-success">Approved</span>
        {% elif not request.email_confirmed %}
            <span class="label label-warning">Pending Email Confirmation</span>
        {% else %}
            <span class="label label-warning">Pending Approval</span>
        {% endif %}
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Status

            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Submission date</strong></td>
                    <td>{{ request.submission_date }}</td>
                </tr>
                <tr>
                    <td><strong>Approve date</strong></td>
                    <td>{{ request.approve_date }}</td>
                </tr>
                <tr>
                    <td><strong>Approver person</strong></td>
                    <td>{{ request.approver_user }}</td>
                </tr>
                {% if request.mw_profile %}
                <tr>
                    <td><strong>Profile URL</strong></td>
                    <td><a href="{{ request.mw_profile }}">{{ request.mw_username }}</a></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Basic Information</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Name</strong></td>
                    <td>{{ request.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>Family name</strong></td>
                    <td>{{ request.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>Nationality</strong></td>
                    <td>{{ request.nationality }}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td><a href='mailto:{{ request.email }}'>{{ request.email }}</a></td>
                </tr>
                <tr>
                    <td><strong>Website</strong></td>
                    <td><a href='{{ request.website }}'>{{ request.website }}</a></td>
                </tr>
                <tr>
                    <td><strong>Phone number</strong></td>
                    <td><a href="tel:{{ request.phone_number }}">{{ request.phone_number }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Other Information</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Affiliation</strong></td>
                    <td>{{ request.affiliation }}</td>
                </tr>
                <tr>
                    <td><strong>Affiliation country</strong></td>
                    <td>{{ request.affiliation_country }}</td>
                </tr>
                <tr>
                    <td><strong>Affiliation type</strong></td>
                    <td>{{ request.affiliation_type }}</td>
                </tr>
                <tr>
                    <td><strong>Modelling interests</strong></td>
                    <td>{{ request.modelling_interests }}</td>
                </tr>
                <tr>
                    <td><strong>Stakeholders</strong></td>
                    <td>{{ request.stakeholders }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Biography</h3>
        </div>
        <div class="panel-body">
            {{ request.short_bio }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Message</h3>
        </div>
        <div class="panel-body">
            {{ request.message }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Working groups</h3>
        </div>
        <div class="panel-body">
            <p>User has requested to join to the following working groups.</p>
            <ul class="list-group">
                {% for wg in working_groups %}
                    <li class="list-group-item">{{ wg }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Possible Actions</h3>
        </div>
        <div class="panel-body">
            {% if not request.approved %}
                {% if is_approver %}
                    <p>By clicking Approve button, the MediaWiki installation will be changed permanently.
                            By clicking Delete button, the join request will be removed from Wikix only.</p>
                    {% if not request.email_confirmed %}
                        <div class="alert alert-warning" role="alert">
                            <p>This person has not yet approved his/her email address. Continue at your own risk.</p>
                        </div>
                    {% endif%}
                    <div class="alert alert-warning" role="alert">
                        <p>These operations are not reversible.</p>
                    </div>
                    <form class="btn-group" action="{{ url_for('approve', request_id=request.id) }}" method="post">
                        <input type="submit" class="btn btn-success" value="Approve Request">
                    </form>
                    <form class="btn-group" action="{{ url_for('delete', request_id=request.id) }}" method="post">
                        <input type="submit" class="btn btn-danger" value="Delete Request">
                    </form>
                {% endif %}
            {% else %}
                <p>This join request is approved.</p>
            {% endif %}
            {% if session['username'] == request.mw_username %}
                <p>You can edit your join request by clicking Edit button. This will change non-approved requests in-place and it
                will create a new one if your request is already approved. In case you have already an account in
                    MediaWiki, this operation will not change that.</p>
                <form class="btn-group" action="{{ url_for('update', request_id=request.id) }}" method="get">
                    <input type="submit" class="btn btn-default" value="Edit Request">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
