{% extends 'join.html' %}

{% block form_line %}
<form id="contact-form" action="{{url_for('update', request_id=request.id)}}" method="post">
{% endblock %}

{% block form_title %}
                    <h1>Update existing EMMC request</h1>
                    <h4>Please update the information and resubmit the form.</h4>
{% endblock %}
